*{
    padding: 0;
    margin: 0;
}
header {
    background-color: #181818;
    padding: 24px 0;
}
.logo{
    position: relative;
    z-index: 3;
}
.container {
  margin: auto;
    max-width: 1200px;
}
header .container {
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner {
background-image: url("../images/main.jpg");
    background-size: cover;
    height: calc(100vh - 86px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main_banner .container{
    margin: inherit;
}
 .bottom_icon {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.bottom_icon li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.bottom_icon li:nth-child(2):before{
    background-image: url("../images/icon_2.svg");
}
.bottom_icon li:nth-child(3):before{
    background-image: url("../images/icon_3.svg");
    width: 32px;
}
.bottom_icon li:nth-child(4):before{
    background-image: url("../images/icon_4.svg");
    width: 10px;
    height: 16px;
}
.main_subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 1px;
}
.main_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.main_text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 580px;
    padding-bottom: 71px;
}
.help_item {
    background-color: #000000;
    padding: 113px 0 121px;
    text-align: center;
}
.help_container{
    max-width: 571px;
    margin: auto;
}
.help_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px
}
.help_text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.help_link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 9px 10px 13px;
    display: inline-flex;
    align-items: center;
}
.help_link:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 40%;
    background-color: #000000;
    margin-right: 5px;
}
.mountain{
    background-image: url("../images/mountain.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    position: relative;
}
.mountain_container {
    max-width: 298px;
    margin-right: 62px
}
.mountain_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mountain_text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.leaf{
    background-image: url("../images/leaf.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    position: relative;
}
.leaf_container{
    max-width: 273px;
    margin-right: 87px;
}
.leaf_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leaf_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.himalayas{
    background-image: url("../images/himalayas.jpg");
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    position: relative;
}
.himalayas_container{
    max-width: 254px;
    margin-right: 106px;
}
.himalayas_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.himalayas_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.what_we_do{
    padding: 113px 0 100px 0;
    background: #000000;
}
.what_we_do_wrapper{
    max-width: 1170px;
    margin: auto;
}
.what_we_do_title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}
.what_we_do_subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding: 15px 0 42px;
}
.what_we_do_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do_product{
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.what_we_do_content{
    max-width: 514px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.what_we_do_caption{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.what_we_do_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px
}
.what_we_do_architecture{
background-image: url("../images/archicture.jpg");
    background-size: cover;
    max-width: 576px;
    min-height: 600px;
    position: relative;
    margin-bottom: 16px;
}
.what_we_do_drone{
    background-image: url("../images/drone.jpg");
    background-size: cover;
    max-width: 576px;
    min-height: 600px;
    position: relative;
}
.what_we_do_wildlife{
    background-size: cover;
    max-width: 576px;
    min-height: 600px;
    position: relative;
    background-image: url("../images/wildlife.jpg ");
}
.what_we_do_image{
    display: block;
    width: 100%;
}
.tools{
    position: relative;
    background-color: black;
}
.tools .information{
    max-width: 514px;
    color: white;
}
.tools .container{
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 540px;
}
.tools .img_bg{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url("../images/tools.jpg");
    background-size: cover;
    top: 0;
}
.tools h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 6px
}
.tools h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 14px
}
.tools p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 20px
}
footer{
    padding: 100px 0;
    background-color: black;
    color: white;
}
.first_text{
    max-width: 440px;
}
footer .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 26px;
}
.left_logo{
    max-width: 440px;
}
footer .left_logo a{
    padding: 100px 0 20px 0
}
footer .left_logo p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
footer .container:last-child{
    border: none;
    padding-top: 56px;
}
footer .right_sub-menu{
    display: flex;
    align-items: flex-start;
}
footer .right_sub-menu ul{
    list-style: none;
}
footer .right_sub-menu ul li{
    padding-bottom: 10px;
}
footer .right_sub-menu ul li:first-of-type{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
footer .right_sub-menu ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
footer .right_sub-menu ul:first-of-type{
    margin-right: 55px;
}
footer .right_sub-menu ul:last-of-type{
    margin-right: 100px;
}
footer form{
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 14px;
}
footer h4{
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer .container:nth-child(2){
    margin-top: 36px;
    margin-bottom: 36px;
}
footer form .form_control{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}
footer form button{
    background-color: black;
    height: 30px;
    border: none;
    border-radius: 11px;
    width: 63px;
    cursor: pointer;
}
footer .icons li{
    margin: 0 14px;
}
.icons{
    list-style: none;
    display: flex;
}
footer .icons li:last-of-type{
    margin-right: 0;
}
.last_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.clients{
    background-color: black;
    padding: 113px 0 140px;
}
.clients .container{
    max-width: 1076px;
}
.clients_company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1076px;
    margin: auto;
}
.clients_company a{
    max-width: 128px;
    display: inline-block;
}
.clients h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}